<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deposit</title>
    <link rel="stylesheet" href="/assets/bootstrap-5.0.2-dist/v5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fontawesome/v5.14/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="container">
    <header>
        <div class="col-lg-6">
            <h1>Deposit money</h1>
        </div>
        <div class="col-lg-6  header-right-button">
            <a href="/customers">
                <button class="btn btn-outline-light">
                    <i class="fas fa-bars"></i>
                    List of customers
                </button>
            </a>
        </div>
    </header>
    <div class="content">
        <form method="post" th:object="${deposit}">
            <div class="row mt-3">
                <div class="col-lg-6">
                    <label class="fw-bolder">Customer Id</label>
                    <input type="text" class="form-control" th:field="*{customer.id}" readonly>
                </div>
                <div class="col-lg-6">
                    <label class="fw-bolder">Full name</label>
                    <input type="text" class="form-control" th:field="*{customer.fullName}" readonly>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6">
                    <label class="fw-bolder">Current Balance ($)</label>
                    <input type="text" class="form-control num-space" th:field="*{customer.balance}" readonly>
                </div>
                <div class="col-lg-6">
                    <label class="fw-bolder">Transaction Amount ($)</label>
                    <input type="text" class="form-control num-space" name="transactionAmount">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="fas fa-money-check-alt"></i>
                        Deposit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:if="${message == 'success'}" class="row d-flex justify-content-center">
    <script th:inline="javascript">
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Successfully Deposit!',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
</div>

<div th:if="${message == 'fail'}" class="row d-flex justify-content-center">
    <script th:inline="javascript">
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Fail to deposit!'
        })
    </script>
</div>

<th:block th:replace="layout/script" />
</body>
</html>